@media all and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    header > div {
        max-width: 100%;
    }

    .mapArea .mapContain {width: 90%; height: 90vw;}
}