@media all and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }

    header > div {
        max-width: 720px;
    }

    .mapArea .mapContain {width: 80%; height: 500px; max-width: 780px;}
    .mapArea .contArea {width: 80%; max-width: 780px;}

}