@media all and (max-width: 479px) {
    body {
        font-size: 14px;
    }
    header > div {
        max-width: 100%;
    }

    .mapArea .mapContain {width: 90%; height: 420px;}
    .mapArea .contArea {padding: 0 15px; width: 100%;}
}