@charset "utf-8";

@import "default.css";


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    padding: 15px;
    margin: 0 auto;
}
header {}